{% extends "layout.html" %}
{% block content %}
<div class="card" style="margin-right: 25px;">
  <div class="card-body">
  <form action="/results" method="post" style="margin-right: 25px;">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name"
          placeholder="Full Name"'>
      <div class='form-row' style="margin-top: 10px;">
        <div class="col-sm-20">
          <label for="dojo" style="margin-top: 10px;">Dojo Location</label>
        </div>
        <div class="col">
          <select class="form-control" id="dojo" name="dojo" required='dojo'>
              {% for location in locations %}
                <option>{{ location['city'] }}, {{ location['state'] }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-sm-20">
          <label for="dojo" style="margin-top: 10px;">Favorite Language</label>
        </div>
        <div class="col">
          <select class="form-control col" id="language" name="language">
              {% for language in languages %}
                <option>{{ language['lang_name'] }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
        <label for="comment" style="margin-top: 10px;">Comments (max length 120 characters):</label>
        <textarea type='text' name='comment' class="form-control" rows=3></textarea>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
